﻿@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button type="button" class="btn-default" id="googleBtn">Zaloguj z google</button>


@section scripts
{
    <script src="~/Scripts/GoogleAuthentication.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            getAccessToken();

            $('#googleBtn').click(function() {
                window.location.href = '/backend/Account/ExternalLogin?provider=Google&response_type=token&client_id=self&redirect_uri=http%3A%2F%2Flocalhost%3A51337%2FHome%2FLogin&state=HvThXgqcAtgovaAOCyLSymL4opZxtY8chlfVM9qSYJs1'
            });
        });

    </script>

}
